@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overscroll-none;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}
